[LOGIN]
IP=0.0.0.0
PORT=21710
WORKERTHREADS=6
CONCURRENTTHREADS=6
NAGLE=1
SESSIONS=17000
HEADERSIZE=5
PACKETCODE=119

[MONITORING]
IP=127.0.0.1
PORT=5670
NAGLE=1
HEADERSIZE=2

[REDIS]
IP=127.0.0.1
PORT=6379

[MYSQL]
IP=127.0.0.1
PORT=3306
USER=root
PASSWORD=dlaeornjs
DATABASE=accountdb

[GAMESERVER]
IP=10.0.1.1
PORT=21740

[CHATSERVER]
IP=10.0.1.1
PORT=21720